<!--https://www.tradingview.com/widget/advanced-chart/-->
<div>
    <div class="tradingview-widget-container" style="flex: 1">
        <div id="tradingview_888ea"></div>
        <div id="tradingview_2f6b1"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 350,
              "height": 200,
              "symbol": "BITMEX:XBTUSD",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 350,
              "height": 200,
              "symbol": "BINANCE:TFUELUSDT",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 350,
              "height": 200,
              "symbol": "BINANCE:MATICUSDT",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 350,
              "height": 200,
              "symbol": "BINANCE:DENTUSDT",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 350,
              "height": 200,
              "symbol": "BINANCE:AIONUSDT",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 350,
              "height": 200,
              "symbol": "BINANCE:BANDUSDT",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 350,
              "height": 200,
              "symbol": "BINANCE:ENJUSDT",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 350,
              "height": 200,
              "symbol": "BINANCE:WABIBTC",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 350,
              "height": 200,
              "symbol": "BINANCE:RENUSDT",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 350,
              "height": 200,
              "symbol": "BINANCE:THETAUSDT",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
    </div>
</div>
