<!--https://www.tradingview.com/widget/advanced-chart/-->
<div>
    <div class="tradingview-widget-container" style="flex: 1">
        <div id="tradingview_888ea"></div>
        <div id="tradingview_2f6b1"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:ETHBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:ADABTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:XRPBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:POWRBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:IOTABTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:EOSBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:XLMBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:EOSBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:WAVESBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:WTCBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:WABIBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:WANBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:REQBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    </div>
</div>
