<!--https://www.tradingview.com/widget/advanced-chart/-->
<div>
    <div class="tradingview-widget-container" style="flex: 1">
        <div id="tradingview_888ea"></div>
        <div id="tradingview_2f6b1"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 440,
              "height": 220,
              "symbol": "BINANCE:ARKBTC",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:ZILBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:ONEBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "HUOBI:RSRBTC",
          "interval": "30",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 440,
              "height": 220,
              "symbol": "BINANCE:HOTBTC",
              "interval": "240",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 440,
          "height": 220,
          "symbol": "BINANCE:DENTBTC",
          "interval": "120",
          "timezone": "Australia/Sydney",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "hide_legend": true,
          "withdateranges": false,
          "allow_symbol_change": true,
          "news": [
            "headlines"
          ],
          "container_id": "tradingview_96818"
        }
      );
    </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 440,
              "height": 220,
              "symbol": "BINANCE:NCASHBTC",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
    </div>
</div>
