<!--https://www.tradingview.com/widget/advanced-chart/-->
<div>
    <div class="tradingview-widget-container" style="flex: 1">
        <div id="tradingview_888ea"></div>
        <div id="tradingview_2f6b1"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 440,
              "height": 220,
              "symbol": "BINANCE:XRPBTC",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 440,
              "height": 220,
              "symbol": "BINANCE:NEOBTC",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 440,
              "height": 220,
              "symbol": "BINANCE:VETBTC",
              "interval": "120",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 440,
              "height": 220,
              "symbol": "BINANCE:WTCBTC",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 440,
              "height": 220,
              "symbol": "BINANCE:REQBTC",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 440,
              "height": 220,
              "symbol": "BITTREX:FUNBTC",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 440,
              "height": 220,
              "symbol": "BITTREX:WANBTC",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 440,
              "height": 220,
              "symbol": "BITTREX:FUNBTC",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
        <script type="text/javascript">
          new TradingView.widget(
            {
              "width": 440,
              "height": 220,
              "symbol": "BITTREX:QNTBTC",
              "interval": "30",
              "timezone": "Australia/Sydney",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": true,
              "withdateranges": false,
              "allow_symbol_change": true,
              "news": [
                "headlines"
              ],
              "container_id": "tradingview_96818"
            }
          );
        </script>
    </div>
</div>
